.DS_Store
.Python
*.swp
*.pyc
.gitignore
*.pdf

bin/
lib/
pip-selfcheck.json
pyvenv.cfg
share/
minimal_enviroment/

get_import_statements.py

lectures/

ass6/in.dta
ass6/out.dta
ass8/features.test
ass8/features.train
ass9/features.test
ass9/features.train
